.featured-content {
    display: flex;
    flex-direction: column;

    .section-title {
        h1 {
            font-size: 35px;
        }
    }

    .popular-products{
        padding-left: 10px;
        height: 100%;
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;

        ul {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;

            li {
                width: 33%;
                margin-bottom: 35px;
            }
        }
    }
}