.featured-content {
    display: flex;
    flex-direction: column;

    .section-title {
        h1 {
            font-size: 35px;
        }
    }

    .products{
        padding-left: 10px;
        height: 100%;
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;

        .productCatalog{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;

            .productCard {
                
                margin-bottom: 35px;
            }
        }
    }
}