.signInForm {
    width: 360px;
}

.socialSignIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 210px;
        height: 50px;
        border: solid 2px #ddd;
        color: #2d2d2d;
        cursor: pointer;
        span {
            padding: 0 12px;
        }
    }
} 