*, *::after, *::before {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    color: #222831;
    font-family: 'Monda', sans-serif;
    font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Julius Sans One', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
}

#root {
    height: 100%;
    width: 100%;
    background-color: #cfdac8;
    display: flex;
    justify-content: center;
}

.App {
    width: 1180px;
    height: 100%;
    -webkit-box-shadow: -2px 0px 6px -1px rgba(0,0,0,0.78); 
    box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.78);
    -webkit-box-shadow: 2px 0px 6px -1px rgba(0,0,0,0.78); 
    box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.78);
    background-color: #eeeeee;
}

.page-main{
    height: calc(100% - 127px);
    padding: 50px 40px 0 40px;
}